:root {
  --background: #e5e9ed;
  --foreground: #171717;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-webkit-scrollbar {
    border-radius: 0px 8px 8px 0px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccd2e3;
    background-clip: padding-box;
    border-radius: 8px;
    border: 3px solid transparent;
  }
  ::-webkit-scrollbar-track {
    background-color: white;
    border-left: 1px solid #ccd2e3;
    border-radius: 0px 8px 8px 0px;
  }
}

/* Chat content 전용 스크롤바 트랙 오버라이드 */
[aria-label='chat-content']::-webkit-scrollbar-track {
  border-left: none;
  background-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.col-form-label {
  font-size: 12px;
  padding: 0;
}
